{% extends 'base.html' %}
{% block content %}
<h2>Add Post for {{ user.first_name }} {{ user.last_name }}</h2>
<form>
    <p><label for="title">Title</label></p>
    <p><input type="text" name="title" size="50%" ></p>
    <p><label for="content">Content</label></p>
    <p><input type="text" name="content" size="100%"></p>
    <!-- <label for="new_post">Add</label> -->
    <input type="submit" value="cancel" name="cancel" class="btn btn-info" formaction="/" formmethod="GET">
    <input type="submit" value="add" name="new_post" class="btn btn-success" formaction="/users/{{user.id}}/posts/new" formmethod="POST">
</form>

{% endblock %}